#next-month, #previous-month{
    margin: 0 10px 0 10px;
}
#next-month:hover{
    cursor: pointer;
    text-shadow: -3px 0px 3px #000;
}
#previous-month:hover{
    cursor: pointer;
    text-shadow: 3px 0px 3px #000;
}
.arrow{
    color: white;
}
.cabecalho-calendario{
    background: #229922;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    height: 14vh;
}
.corpo-calendario{
    background: #fafafa;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    height: 56.3vh;
    padding: 30px 10px 10px 10px;
}
.texto-cabecalho-calendario{
    font-size: 1.7em;
    margin: 0;
}
.dia-ativo{
    font-size: 1.3em;
    font-weight: bold;
    color: #007700 !important;
    background: #ddffdd !important;
}
.outro-mes{
    background: #eee !important;
    color: #5e5e5e !important;
}
.ring-container{
    display: flex;
    width: 50%;
}
.ring-left, .ring-right { position: relative;
	top: -60vh;
}
.ring-right {
	top: -60vh;
	left: calc(100% - 3.5em);
}
.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	content: "";
	display: inline-block;
	margin: 8px;
	height: 32px;
	width: 8px;
}
td:hover{
    box-shadow: inset 0px 0px 3px 1px #0f0;
    cursor: pointer;
}
td,i{
	caret-color: transparent;
}
i{
    font-size: 1.5em;
}